<header>
    <div>
        <a href="/" id="header-link">
            <h1>Scissor</h1>
        </a>
    </div>
    <div id="profile">
        <span class="material-symbols-outlined">person</span>
        <ul id="profile-nav">
            <li title="Manage your account"><a href="/u/account"><%= username %></a></li>
            <li title="Logout"><a href="/a/logout" style="color: rgb(0, 162, 255);">Log out</a></li>
        </ul>
    </div>
</header>
<script src="/js/header.js"></script>