<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headTags') %>
    <title>Scissor</title>
</head>
<body>
    <%- include('partials/headerPlain') %>

    <main>
        <h2>Welcome to Scissor!</h2>

        <p>
            Scissor is a platform that helps you to shorten your links.
        </p>

        <div class="account-links">
            <a href="/a/signup">Create a new account</a>
            <a href="/a/signin">Log in to your account</a>
        </div>
    </main>
</body>
</html>