<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headTags') %>
    <title>Scissor</title>
</head>
<body>
    <%- include('partials/headerPlain') %>

    <main>
        <h2>Sorry you need to be signed in to access that route</h2>

        <div class="account-links">
            <a href="/a/signup">Create a new account</a>
            <a href="/a/signin">Log in to your account</a>
        </div>
    </main>
</body>
</html>