.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Abel", sans-serif;
    background-image: linear-gradient(225deg, #646360, #646362);
    color: white;

    display: flex;
    flex-direction: column;

    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    background-color: #474644;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    border-bottom: solid;
}

header h1 {
    margin: 0.6rem;
}

#header-link {
    padding: initial;
    background-color: initial;
    display: flex;
    align-items: center;
}

#header-link:hover {
    opacity: 1;
    transition: none;
}

nav {
    display: flex;
    align-items: center;
}

#nav-links {
    display: flex;
}

#nav-links a {
    margin: 0 0.5rem;
}

main {
    flex-grow: 1;
    width: 60%;
    min-width: 200px;
    margin: 0 auto;
}

/* Forms */
input {
    border: none;
    border-radius: .2rem;
    padding: 0.5rem;
}

input[type="submit"] {
    background-color: #c9a27e;
    color: white;
    cursor: pointer;
}

form {
    margin: 0 auto;
    /* padding: 1rem; */
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-field input {
    flex-grow: 1;
}

label {
    margin-right: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#profile {
    position: relative;
}

#profile:hover {
    cursor: pointer;
}

#profile-nav {
    display: none;
    cursor: default;
    position: absolute;
    right: 0;
    z-index: 10;

    height: 6rem;
    width: 5.5rem;
    padding: 0.5rem;
    border: solid 1px;
    border-radius: .2rem;

    background-color: #aedfeb;

    flex-direction: column;
    justify-content: space-around;
}

#profile-nav a {
    padding: 0;
    background-color: inherit;
}

#profile-nav li {
    border-bottom: solid 1px;

}

#profile-nav li:hover {
    border-bottom: solid 1px #9b8571;
}

.account-links {
    display: flex;
    flex-wrap: wrap;
}

.account-links a {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/* Links */
.link {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: .2rem;
    border: 1px solid #887b6f;
}

.link:hover {
    background-color: #817769;
}

.link a {
    padding: 0;
    background-color: initial;
}
.link-info {
    display: flex;
    justify-content: space-between;
}

.link-url {
    display: flex;
    align-items: center;
    line-height: 1rem;
}

.link-url h5 {
    margin-right: 0.5rem;
}

.link-alias {
    display: flex;
    align-items: center;
}

.link-alias span {
    font-size: 20px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.link-stat {
    font-size: small;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* max-width: ; */
}

.link-stat p {
    margin: 0;
    margin-left: 0.5rem;
}

.link-stat span {
    color: #ffea00;
}

/* Link details */
#link-sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.l-details {
    position: relative;
    max-width: 24rem;
}

.l-details .l-edit {
    position: absolute;
    top: 1rem;
    right: 0;
}

.l-details a {
    padding: 0;
    color: white;
    background-color: inherit;
}

.l-details p {
    font-size: small;
}

.l-details span {
    color: #ffea00;
}

.clicks-and-scans {
    display: flex;
}

.clicks-and-scans h4 {
    margin-right: 0.5rem;
    margin-top: 0;
}

/* QR Code */
#qrcode {
    position: relative;
    width: 9.25rem;
    height: 9.25rem;
}
#qrcode-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#qrcode-info a {
    display: none;
}

#qrcode-info:hover a {
    display: initial;
}

#qrcode-info a:hover {
    transition: none;
    opacity: 1;
}

#qrcode-info img {
    position: relative;
    filter: blur(3px);
}

#qrcode-info p {
    position: absolute;
    width: 5rem;
    color: #ff7b00;
    font-weight: bolder;
    text-align: center;
}

/* Account styling */
#delete {
    cursor: pointer;
    display: block;

    margin: 1.5rem auto;
    padding: .5rem;
    border: none;
    border-radius: .2rem;

    color: white;
    background-color: red;
    opacity: .5;
}

#delete:hover {
    background-color: red;
    opacity: 1;
    transition: all .3s;
}

/* @media screen and (max-width: 600px) {
} */
