<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/headTags') %>
        <title>Link not Found</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <h1>Link not found or you don't own it</h1>

        <a href="/u/home">Return home</a>
    </body>
</html>
